
@{
    ViewBag.Title = "kullanici";
}

<h2></h2>

<br />
<br />
<form method="post" enctype="multipart/form-data">
    <input type="file" name="yuklenecekDosya" />
    <input type="submit" value="Yükle" />
</form>